* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #faf7f2;
  font-family: Roboto;
}

.topHeaderContainer {
  margin: 0 auto;
  max-width: 84rem;
}

.topHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.logo {
  font-size: 30px;
  font-weight: 500;
}

.topHeaderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 17px;
  font-weight: 500;
}

.topHeaderContactDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.topHeaderContactDetailsSocials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.topHeaderContactButton {
  background-color: #262b24;
  padding: 0.7rem 1.7rem;
  border: none;
}

.topHeaderContactButton a {
  text-decoration: none;
  background-color: #262b24;
  padding: 0;
  color: #faf7f2;
}

.heroSectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
  align-items: end;
  padding: 20px 0px 100px 0px;
}

.rightColumnImageDiv {
  flex: 1;
}

.rightColumnImage {
  width: 350px;
  height: 450px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

.leftColumnSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  overflow: hidden;
}

.leftColumnHeroSection {
  h2 {
    color: #262b24;
    text-align: right;
    font-size: 55px;
    font-weight: 400;
    max-width: 565px;
  }

  h4 {
    color: #abaaa7;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    max-width: 565px;
  }
}

.buttonLeftColumnHero {
  background-color: #262b24;
  padding: 0.8rem 1.7rem;
  border: none;

  a {
    background-color: #262b24;
    color: #faf7f4;
    text-decoration: none;
  }
}

/* This above is the main Hero Section*/

.secondHeroSection {
  background-color: #f6dfd3;
  height: 550px;
}

.secondHeroSectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #f6dfd3;

  .secondHeroSectionText {
    background-color: #f6dfd3;
    margin-left: 50px;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  h2 {
    background-color: #f6dfd3;
    color: #262b24;
    font-size: 32px;
    font-weight: 400;
  }

  h4 {
    background-color: #f6dfd3;
    color: #262b24;
    font-size: 25px;
    font-weight: 400;
  }
}
