* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #faf7f2;
  font-family: Roboto;
}

.topHeaderContainer {
  margin: 0 auto;
  max-width: 75rem;
}

.topHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-size: 30px;
  font-weight: 500;
}

.topHeaderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 17px;
  font-weight: 500;
}

.topHeaderContactDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.topHeaderContactDetailsSocials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.topHeaderContactButton {
  background-color: #262b24;
  padding: 0.7rem 1.7rem;
  border: none;
}

.topHeaderContactButton a {
  text-decoration: none;
  background-color: #262b24;
  padding: 0;
  color: #faf7f2;
}
